/* hovers */
.pointer,
.is-pointer,
.is-cursor,
.cursor,
.has-cursor-pointer, 
.interactive {
  cursor: pointer;
}

.no-hover-bg:hover {
  background: none;
  background-color: transparent;
}

.no-hover-bg-i:hover {
  background: none !important;
  background-color: transparent !important;
}


/* visibility */
.is-below {
  z-index: -1;
}

.hidden-by-opacity,
.is-hidden {
  opacity: 0;
}

.is-visible,
.is-above-others {
  z-index: 9999;
}
