@import "./size.scss";

/* ==== ALIGNMENT ==== */
.text-center,
.text-centered,
.has-text-center,
.has-text-centered {
  text-align: center;
}

/* ==== END ALIGNMENT ==== */


/* ==== WEIGHT ==== */
.has-light-font-weight,
.light-font-weight, 
.fw-light {
  font-weight: 300;
}

.regular-font-weight,
.has-regular-font-weight {
  font-weight: 400;
}

/* ==== END WEIGHT ==== */



/* ==== SIZES (in rems) ==== */
.is-small {
  font-size: $small;
}

.is-regular,
.fz-regular,
.regular-font-size {
  font-size: $regular;
}

.regular-l-font-size {
  font-size: $regular-l;
}

.larger-font-size {
  font-size: $regular-l;
}

.large-font-size {
  font-size: $large;
}

.bigger {
  font-size: $large;
}

.is-1-rem {
  font-size: 1rem;
}

.rem-x2,
.is-2rem,
.x2-rem {
  font-size: $extra-large;
}

.fz-x1 {
  font-size: 1rem !important;
}

.fz-x1-5 {
  font-size: 1.5rem !important;
}

.fz-x2 {
  font-size: 2rem !important;
}

.fz-x2-5 {
  font-size: 2.5rem !important;
}

.fz-x3 {
  font-size: 3rem !important;
}

