/* remove list markers for the God's sake */
ul {
  list-style: none;
  padding: 0;
}

/* remove awful blue-ish links color and underlines */
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

pre {
  text-wrap: wrap;
  overflow-wrap: break-word;
}
