@import "@scss/base/media.scss";

/* plan picker */

.plan-picker {

    .lessons-quantity-slider .n-slider-mark:first-child {
        left: 5% !important;

        @include tablet {
            left: 2.5% !important;
        }
    }

    .n-carousel {
        padding: .5rem 0;
    }

    .n-carousel__arrow-group {
        bottom: -5px !important;
        left: 50%;
        margin-left: -34px;
    }
}

/*
? NSteps global fix 
*/
.n-step-content-header,
.n-step-content-header__title {
    margin: 0 !important;
}

.n-step-content__description {
    margin: 0 0 1rem 1rem !important;
}

/* project picker */
.filter-drawer-project-picker {

    /* slider marks */
    .n-slider-mark {
        font-size: 0.85rem;

        @include tablet {
            font-size: 1rem;
        }
    }
}

/* project picker collapse */
.collapse-title {
    .n-collapse-item__header-main {
        font-size: 1.75rem !important;
    }
}

.project-picker {

    /* project card */
    .n-card-header {
        display: block;

        @include tablet {
            display: flex;
            font-size: 1.5rem;
        }
    }

    .n-card-header__main {
        word-break: break-all;
        overflow-wrap: break-word;
        font-size: 1.5rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    .n-tabs .n-tabs-tab .n-tabs-tab__label {
        font-size: 0.9rem;
    }

    .n-card__content,
    .n-card__action {
        padding: .5rem !important;

        @include tablet {
            padding: .5rem 1rem !important;
        }
    }

    .n-card__action {
        @include tablet {
            padding: 0 !important;
        }
    }
}



.freelance-steps {
    .n-collapse-item__header {
        margin: 0 0 1rem 0;
    }

    .n-collapse-item__header-main {
        font-size: 1.2rem;
        align-items: start !important;
    }

    .n-collapse-item-arrow {
        margin: .35rem 0 0 0;
    }

    .n-collapse-item {
        margin: 0 0 0 .25rem !important;
    }

    .n-collapse-item__content-inner {
        padding: 0 0 0 1.5rem !important;
    }
}